.bulle-1 {
  width: 11%;
  position: absolute;
  top: 500px;
  left: 280px;
}

.bulle-2 {
  width: 25%;
  position: absolute;
  top: 900px;
  left: 700px;
}

.bulle-3 {
  width: 25%;
  position: absolute;
  top: 1050px;
  left: 180px;
}

.bulle-4 {
  width: 20%;
  position: absolute;
  top: 620px;
  left: 690px;
}
.bulle-5 {
  width: 20%;
  position: absolute;
  top: 580px;
  left: 250px;
}
.bulle-wrapper img {
  width: 100%;
}
