.flash {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}
.flash .flash-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.flash-background {
  position: absolute;
  display: flex;
}

.flash-img {
  position: absolute;
  width: 10%;
}
