.footer {
  background: #000000;
  display: flex;
  padding-left: 80px;
  padding-bottom: 70px;
}
.footer-texte {
  color: #fffb89;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top: 50px;
}
.footer-sous-texte {
  color: #fffb89;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}
.footer-icon {
  width: 50%;
}
.footer-info-all {
  display: flex;
  margin-left: 350px;
  gap: 30px;
}
.info-product {
  width: 80%;
}
.info-contact {
  width: 110%;
}
.info-media {
  width: 90%;
}
