.footer {
  background: #000000;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 70px;
}
.footer-texte {
  color: #fffb89;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top: 50px;
}
.footer-sous-texte {
  color: #fffb89;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}
.footer-info {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}
.footer-icon {
  width: 40%;
}
.footer-info-all {
  display: flex;
  margin-left: 200px;
}
