.starter {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
}
.starter .starter-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.starter-notif-one {
  position: absolute;
  left: -50%;
  opacity: 0;
  top: -3%;
  width: 45%;
}
.starter-notif-two {
  position: absolute;
  right: -50%;
  top: 70%;
  width: 45%;
  opacity: 0;
}
.starter-notif-three {
  position: absolute;
  left: -50%;
  top: 55%;
  width: 50%;
  opacity: 0;
}
.starter-notif-four {
  position: absolute;
  left: -50%;
  top: 55%;
  width: 35%;
  opacity: 0;
}
.starter-notif-five {
  position: absolute;
  right: -50%;
  top: 25%;
  width: 40%;
  opacity: 0;
}
.starter-notif-six {
  position: absolute;
  right: -50%;
  top: 28%;
  width: 20%;
  opacity: 0;
}
