.storytelling {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

.storytelling-vessel {
  position: absolute;
  width: 70%;
  top: 20;
  z-index: 1;
}
.storytelling-second-vessel {
  position: absolute;
  bottom: -170px;
  width: 30%;
  z-index: 2;
}
.storytelling-voiture {
  position: relative;
}
.storytelling-scene-two {
  position: relative;
}

.storytelling-scene-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40vh;
  bottom: -30vh;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(4, 14, 22, 0.52) 0%,
    #020609 20.67%,
    #05111a 77.4%,
    rgba(4, 12, 18, 0.05) 100%
  );
}

.storytelling-scene-three {
  width: 100%;
  height: 100%;
  position: relative;
}
.storytelling-scene-three::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40vh;
  bottom: -9vh;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(4, 14, 22, 0.52) 0%,
    #020609 21.15%,
    #05111a 84.13%,
    rgba(4, 12, 18, 0.05) 100%
  );
}

.storytelling-scene-four {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  bottom: 10%;
}

.storytelling-scene-five {
  width: 100%;
  height: 100%;
  position: relative;
}

.storytelling-scene-five::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40vh;
  bottom: -25vh;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(4, 14, 22, 0.52) 0%,
    #020609 21.15%,
    #1f2c3e 84.13%,
    rgba(31, 45, 63, 0.05) 100%
  );
}
.storytelling-scene-six {
  width: 100%;
  height: 100%;
  position: relative;
}

.storytelling-transition {
  background-color: black;
  width: 100%;
  height: 300px;
}
.storytelling-horizontal-img {
  height: 150%;
  width: auto;
  x: "10%";
}
.storytelling-horizontal {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.storytelling-animation {
  height: 100%;
}
.storytelling-horizontal-voiture {
  position: absolute;
  top: 190px;
  right: -210;
  width: 45%;
}
